* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 62.5%;
}

body {
  font-size: $base-font-size;
  font-family: 'Proxima Nova', sans-serif;
  color: $tipsease-dark;
  background-color: $tipsease-light;
  overflow-x: hidden;
}

h2, h3, h4, h5, a, .heading, .subheading {
  font-weight: 600;
}

h1 {
  font-size: roundFloatValue($base-font-size * 4.17);
  font-weight: bold;
  margin-bottom: $normal-space;
}

h2 {
  font-size: roundFloatValue($base-font-size * 3.05);
  margin-bottom: $normal-space;
}

h3 {
  font-size: roundFloatValue($base-font-size * 1.89);
  margin-bottom: $normal-space;
}

h4 {
  font-size: roundFloatValue($base-font-size * 1.39);
  margin-bottom: $normal-space;
}

h5 {
  font-size: $base-font-size;
  margin-bottom: $normal-space;
}

p {
  font-size: $base-font-size;
  line-height: 2.8rem;
  margin-bottom: $normal-space;
}

a {
  cursor: pointer;
  color: inherit;
  transition: all 250ms ease-in-out;

  &:hover, &:active {
    opacity: 0.8;
  }
}

.heading {
  font-size: roundFloatValue($base-font-size * 3.05);
  line-height: unset;
  margin-bottom: $normal-space;
}

.subheading {
  font-size: roundFloatValue($base-font-size * 1.39);
  line-height: unset;
  margin-bottom: $small-space;
}

.small-text {
  font-size: roundFloatValue($base-font-size * 0.67);
  margin-bottom: $normal-space;
}

button {
  min-height: 5rem;
  padding: $normal-space $large-space;
  font-size: inherit;
  font-weight: 600;
  background-color: $white;
  border: none;
  outline: none;
  margin-bottom: $normal-space;
  border-radius: $small-space;
  box-shadow: 0 .8rem 2.5rem 0 rgba(40, 51, 63, .11);
  transition: all 100ms ease-in-out;

  &[disabled] {
    opacity: .5;
    cursor: default;
    box-shadow: unset;

    &:active {
      opacity: .5;
      box-shadow: unset;
    }
  }

  &:active {
    opacity: .8;
    box-shadow: 0 6px 10px 0 rgba(40, 51, 63, .11);
  }

  &.primary {
    background-color: $tipsease-primary;
    color: $white;
  }

  &.secondary {
    background-color: $tipsease-secondary;
    color: $white;
  }

  &.transparent {
    background-color: unset;
    box-shadow: unset;
    padding: $normal-space;
  }

  &.icon-btn {
    max-height: 3rem;
    padding: $small-space;
  }

  &.small {
    padding: $small-space $medium-space;
    font-size: roundFloatValue($base-font-size * 0.83);
    min-height: unset;
  }
}

input {
  appearance: none;
  display: block;
  padding: $normal-space;
  margin-bottom: $normal-space;
  border-radius: 10px;
  font-weight: 600;
  border: 2px solid rgba(40, 51,63, .4);
  background-color: unset;
  outline: none;
  transition: all 200ms ease-in-out;

  &::placeholder {
    color: rgba(40, 51,63, .4);
    opacity: 1;
  }

  &:focus, &:checked {
    border: 2px solid $tipsease-secondary;
    box-shadow: 0 0 6px 0 rgba(19,82,221,0.37);
  }
}

input[type="number"] {
  -moz-appearance: textfield;
  padding-right: $normal-space;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  appearance: none;
  margin: 0;
}

input[type="checkbox"], input[type="radio"] {
  display: inline-block;
  width: 3.1rem;
  height: 3.1rem;
  border-radius: 6px;
  cursor: pointer;
  @include flexbox(row, center, center);
}

input[type="checkbox"]:checked::before {
  content: url('./assets/img/checkbox-tick.svg');
}
input[type="radio"] {
  border-radius: 100%;

  &:checked::before {
    margin-bottom: 2px;
    height: 13px;
    width: 13px;
    content: url('./assets/img/radio-circle.svg');
  }
}

.card {
  display: inline-block;
  padding: $medium-space $normal-space;
  background-color: $white;
  box-shadow: 0 6px 10px 0 rgba(40,51,63,0.08);
  border-radius: 6px;
}

select {
  position: relative;
  appearance: none;
  outline: none;
  border: none;
  padding: $normal-space;
  box-shadow: 0 6px 10px 0 rgba(40,51,63,0.08);
  border-radius: 10px;
  min-width: 250px;
  background-color: $white;
  font-weight: 600;
  cursor: pointer;

  &::-ms-expand {
    display: none;
  }
}

label.select {
  position: relative;

  &::after {
    content: "▼";
    position: absolute;
    height: 100%;
    right: $normal-space;
    top: 50%;
    transform: translateY(-50%);
  }
}

figure {
  margin: 0;
}

.full-width {
  width: 100%;
}

.text-centered {
  text-align: center;
}

.no-margin {
  margin: 0;
}

#root {
  min-height: 100vh;
  @include flexbox(column, center, center);

  .view-background {
    position: absolute;
    width: 100%;
    height: 100%;
    @include flexbox(column, center, center);
  }
}

section.view {
  width: 100%;
  min-height: 100vh;
  max-width: $desktop-width;
  @include flexbox(column, null, center);
  padding: 0 $normal-space;
  padding-bottom: $extra-large-space;
}
