.search-provider.view-background {
  background-color: $tipsease-primary;

  section.view.search-provider {
    @include flexbox(inherit, inherit, center);

    .balance-container {
      @include flexbox(null, center);
      $balance-h2-line-height: 4.8rem;
      height: calc(#{$balance-h2-line-height} - #{$small-space});
      margin-bottom: $medium-space;

      h2 {
        line-height: $balance-h2-line-height;
      }
    }

    input {
      width: 90%;
      max-width: 40rem;
    }

    h4 {
      width: 90%;
      max-width: 40rem;
      margin-bottom: $medium-space;
    }

    .next-btn {
      color: $tipsease-secondary;
    }

    .username-btn {
      width: 90%;
      max-width: 40rem;
      border-radius: 6px;
    }
  }
}
