.tip.view-background {
  background-color: $tipsease-primary;

  section.view.tip {
    @include flexbox(inherit, inherit, center);


    .tip-input {
      font-size: roundFloatValue($base-font-size * 3.05);
      border: unset;
      box-shadow: unset;

      &::before {
        content: '$';
      }
    }

    .next-btn {
      color: $tipsease-secondary;
    }

    .tip-shortcuts-container {
      @include flexbox(null, center, center, wrap);
      position: fixed;
      bottom: $medium-space;

      @media #{$desktop} {
        position: unset;
      }

      button {
        margin: 0;
        margin-right: 2.5%;
        margin-bottom: 2.5%;
        padding: 2.5% 8%;

        @media #{$desktop} {
          min-height: 5rem;
          margin-right: $medium-space;
          margin-bottom: $normal-space;
          padding: $normal-space $large-space;
          font-size: $base-font-size;

          &:last-child {
            margin: 0;
          }
        }

        &:last-child {
          margin: 0;
          margin-bottom: 2.5%;

          @media #{$desktop} {
            margin-bottom: $normal-space;
          }
        }
      }
    }
  }
}
